<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    
    <header class="navbar">
        <nav class="nav-links">
            <a href="index.html"><i class="fas fa-home"></i> Home</a>
            <a href="project.html" class="active"><i class="fas fa-code"></i> Projects</a>
            <a href="resume"><i class="fas fa-file"></i> Resume</a>
            <a href="contact.html"><i class="fas fa-envelope"></i> Contact</a>
        </nav>
    </header>

    <main class="content">
        <section class="hero">
            <div class="image">
                <img src="static/assets/person.jpg" />
            </div>
            <div class="intro">
                <h1>Hello, I'm Nitesh Kumavat</h1>
                <p>A passionate developer building web experiences.</p>
            </div>
        </section>
    </main>
</body>
</html>
